.navbar-brand{
	padding: 15px 15px 0px 15px;
	height:50px;
}

header {
	
}

body {
  
}




.mainClass {
    background-image:url("img/stairs.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-color: lightblue;
}

.my-header {
    background-image:url("img/clouds2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-color: lightblue;
}

.clear {
    clear:both;
}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.ml15{margin-left:15px;}
.mr15{margin-right:15px;}
.pr30{padding-right:30px;}

.size5vw {
    font-size: 5vw;
}
.size4vw {
    font-size: 4vw;
}
.size3vw {
    font-size: 3vw;
}
.size2vw {
    font-size: 2vw;
}
.h1
{
    font-family:'Segoe UI';
    font-weight:bold;
}
.h2 {
    font-family:'Segoe UI';
    font-weight:bold;
    
}
a:link {
    color:black;
    text-decoration:none;
}
a:hover {
    color:black;
    text-decoration:none;
}
a:visited {
    color:black;
}
a:focus {
    color:black;
}

#wrapper {
    background-color:lightblue;
}

#cube-wrapper {
    margin-top:25%;
    margin-left:0px;
}

#columns {
	-webkit-column-count: 1;
	-webkit-column-gap: auto;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: auto;
	-moz-column-fill: auto;
	column-count: 1;
	column-gap:normal;
	column-fill: auto;
    
}

.pin {
	display: block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0px 2px 15px 0px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	display: block;
    width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;

}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
    text-align: center;
    
}



.navbar-default {
    background-color: #CCCCCC;
    border-color:transparent;
    letter-spacing: 2px;
    font-family: "proxima-nova";
    font-size: 14px;
	font-size: 2vw;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
	margin-bottom: 0px;

}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}

[ng-click], [data-ng-click], [x-ng-click] {
    cursor:pointer;
}



*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }


.viewport {

  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 2400px;
  -webkit-perspective-origin: 50% 500px;
  -moz-perspective-origin: 50% 500px;
  -ms-perspective-origin: 50% 500px;
  -o-perspective-origin: 50% 500px;
  perspective-origin: 50% 500px;
  -webkit-transform: scale(1.0, 1.0);
  -moz-transform: scale(1.0, 1.0);
  -ms-transform: scale(1.0, 1.0);
  -o-transform: scale(1.0, 1.0);
  transform: scale(1.0, 1.0);
  -webkit-box-reflect: below 170px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.1))); 

}



.cube {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(136deg) rotateY(1122deg);
  -moz-transform: rotateX(136deg) rotateY(1122deg);
  -ms-transform: rotateX(136deg) rotateY(1122deg);
  -o-transform: rotateX(136deg) rotateY(1122deg);
  transform: rotateX(136deg) rotateY(1122deg); }

.cube > div {
  overflow: hidden;
  position: absolute;
  opacity: 0.8;
  height: 500px;
  width: 500px;
  background-image: url("http://jordizle.com/demo/376/3d-interactive-cube-with-rotating-sides-using-css3-and-javascript/assets/img/cube/blank.png");
  background-size:cover;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.cube > div > div.cube-image {
  width: 500px;
  height: 500px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  line-height: 500px;
  font-size: 20px;
  text-align: center;
  color: #1b9bd8;
  -webkit-transition: color 600ms;
  -moz-transition: color 600ms;
  -ms-transition: color 600ms;
  -o-transition: color 600ms;
  transition: color 600ms; }


.cube > div:hover {
  cursor: pointer; }

.cube > div:active {
  cursor: pointer; }

.cube > div:first-child {
  -webkit-transform: rotateX(90deg) translateZ(250px);
  -moz-transform: rotateX(90deg) translateZ(250px);
  -ms-transform: rotateX(90deg) translateZ(250px);
  -o-transform: rotateX(90deg) translateZ(250px);
  transform: rotateX(90deg) translateZ(250px);
  outline: 1px solid transparent; }

.cube > div:nth-child(2) {
  -webkit-transform: translateZ(250px);
  -moz-transform: translateZ(250px);
  -ms-transform: translateZ(250px);
  -o-transform: translateZ(250px);
  transform: translateZ(250px);
  outline: 1px solid transparent; }

.cube > div:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(250px);
  -moz-transform: rotateY(90deg) translateZ(250px);
  -ms-transform: rotateY(90deg) translateZ(250px);
  -o-transform: rotateY(90deg) translateZ(250px);
  transform: rotateY(90deg) translateZ(250px);
  outline: 1px solid transparent; }

.cube > div:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(250px);
  -moz-transform: rotateY(180deg) translateZ(250px);
  -ms-transform: rotateY(180deg) translateZ(250px);
  -o-transform: rotateY(180deg) translateZ(250px);
  transform: rotateY(180deg) translateZ(250px);
  outline: 1px solid transparent; }

.cube > div:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(250px);
  -moz-transform: rotateY(-90deg) translateZ(250px);
  -ms-transform: rotateY(-90deg) translateZ(250px);
  -o-transform: rotateY(-90deg) translateZ(250px);
  transform: rotateY(-90deg) translateZ(250px);
  outline: 1px solid transparent; }

.cube > div:nth-child(6) {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
  outline: 1px solid transparent; }

object {
  opacity: 0.5; }

object:hover {
  opacity: 1; }



@media (min-width: 1px) {
    
    .pin img {
        width: 40px;
        padding-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .viewport {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6); 

    } 
}
@media (min-width: 350px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
    .pin img {
        width: 100%;
    }
    .viewport {
        -webkit-transform: scale(0.4, 0.4);
        -moz-transform: scale(0.4, 0.4);
        -ms-transform: scale(0.4, 0.4);
        -o-transform: scale(0.4, 0.4);
        transform: scale(0.4, 0.4); 
    } 
    #cube-wrapper {
        margin-top:0px;
        margin-bottom:0px;

    }
}

@media (min-width: 450px) {

    .viewport {
        -webkit-transform: scale(0.5, 0.5);
        -moz-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5); 
    } 
    #cube-wrapper {
        margin-top:0px;
        margin-bottom:0px;

    }
}

@media (min-width: 550px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
    .pin img {
        width: 100px;
        margin-left: auto;
        margin-right: auto;

    }
    .viewport {
        -webkit-transform: scale(0.7, 0.7);
        -moz-transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -o-transform: scale(0.7, 0.7);
        transform: scale(0.7, 0.7); 
        
    } 
    #cube-wrapper {
        margin-top:80px;
        margin-bottom:80px;
    }
}

@media (min-width: 750px) {
    .viewport {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9); 
    } 
    #cube-wrapper {
        margin-top:160px;
        margin-bottom:160px;
    }
}

@media (min-width: 950px) {
    .viewport {
        -webkit-transform: scale(1.0, 1.0);
        -moz-transform: scale(1.0, 1.0);
        -ms-transform: scale(1.0, 1.0);
        -o-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0); 
    } 
    #cube-wrapper {
        margin-top:200px;
    }
}


@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 6;
		-moz-column-count: 6;
		column-count: 6;
	}
    .pin img{
        width: 100%;
    }
    .viewport {
        -webkit-transform: scale(1.0, 1.0);
        -moz-transform: scale(1.0, 1.0);
        -ms-transform: scale(1.0, 1.0);
        -o-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0); 
    } 
    #cube-wrapper {
        margin-top:200px;
    }
}