.navbar-brand{
	padding: 15px 15px 0px 15px;
	height:50px;
}

header {
	
}

body {
    
}

.my-header {
    background-image:url("img/clouds2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-color: lightblue;
}

.clear {
    clear:both;
}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.ml15{margin-left:15px;}
.mr15{margin-right:15px;}
.pr30{padding-right:30px;}

.size5vw {
    font-size: 5vw;
}
.size4vw {
    font-size: 4vw;
}
.size3vw {
    font-size: 3vw;
}
.size2vw {
    font-size: 2vw;
}
.h1
{
    font-family:'Segoe UI';
    font-weight:bold;
}
.h2 {
    font-family:'Segoe UI';
    font-weight:bold;
    
}
a:link {
    color:black;
    text-decoration:none;
}
a:hover {
    color:black;
    text-decoration:none;
}
a:visited {
    color:black;
}
a:focus {
    color:black;
}

#wrapper {
    background-color:lightblue;
}

#columns {
	-webkit-column-count: 1;
	-webkit-column-gap: auto;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: auto;
	-moz-column-fill: auto;
	column-count: 1;
	column-gap:normal;
	column-fill: auto;
    
}

.pin {
	display: block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0px 2px 15px 0px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	display: block;
    width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;

}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
    text-align: center;
    
}

@media (min-width: 1px) {
    
    .pin img {
        width: 40px;
        padding-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 350px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
    .pin img {
        width: 100%;
    }
}
@media (min-width: 550px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
    .pin img {
        width: 100px;
        margin-left: auto;
        margin-right: auto;

    }
}


@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 6;
		-moz-column-count: 6;
		column-count: 6;
	}
    .pin img{
        width: 100%;
    }
}

.navbar-default {
    background-color: #CCCCCC;
    border-color:transparent;
    letter-spacing: 2px;
    font-family: "proxima-nova";
    font-size: 14px;
	font-size: 2vw;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
	margin-bottom: 0px;

}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}

[ng-click], [data-ng-click], [x-ng-click] {
    cursor:pointer;
}