.navbar-brand{padding: 15px 15px 0px 15px;height:50px;}
.HomeViewMain {

}

body {
    background-color: lightblue;
}

.clear {
    clear:both;
}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.ml15{margin-left:15px;}
.mr15{margin-right:15px;}
.pr30{padding-right:30px;}
.navbar-default {
    
    border-color:transparent;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "proxima-nova";
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
}
.size5vw {
    font-size: 5vw;
}
.size4vw {
    font-size: 4vw;
}
.size3vw {
    font-size: 3vw;
}
.size2vw {
    font-size: 2vw;
}
.h1
{
    font-family:'Segoe UI';
    font-weight:bold;
}
.h2 {
    font-family:'Segoe UI';
    font-weight:bold;
    color:#BFBFBF;
}
a:link {
    color:black;
    text-decoration:none;
}
a:hover {
    color:blue;
    text-decoration:none;
}
a:visited {
    color:black;
}
a:focus {
    color:black;
}

#wrapper {
	width: 98%;
	
	margin: 15px auto;
}

#columns {
	-webkit-column-count: 1;
	-webkit-column-gap: auto;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: auto;
	-moz-column-fill: auto;
	column-count: 1;
	column-gap: auto;
	column-fill: auto;
    
}

.pin {
	display: block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	display: block;
    width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;

}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
    text-align: center;
    
}

@media (min-width: 1px) {
    
    .pin img {
        width: 40px;
        padding-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 350px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
    .pin img {
        width: 100%;
    }
}
@media (min-width: 550px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
    .pin img {
        width: 100px;
        margin-left: auto;
        margin-right: auto;

    }
}


@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 6;
		-moz-column-count: 6;
		column-count: 6;
	}
    .pin img{
        width: 100%;
    }
}



#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}

