
<div ng-include="'Projects/nav.html'"></div>

<div ng-controller="ViewCtrl_IraqAirplane">
    <table id="robot-header" style="width:90%; margin-left:5%; font-family:'Times New Roman'">
        <tr>
            <td colspan="2">
                <p align="center" style="font-size:5vw">
                    Paper Airplane
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:25%">
                <p align="center" style="background-color:lightblue; margin-bottom:0px; border: 1px solid #00000a; font-size:2vw">
                    Table of Contents
                </p>
            </td>
            <td>
                <P ALIGN=RIGHT STYLE="margin-bottom:0px; font-size:2vw">
                    Alex Vassallo - June 2008
                </P>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top">

                <ol style="background-color:lightblue; border: 1px solid #00000a; padding: 0in 12%; font-size:2vw">

                    <li><div ng-click="gotoChpt1()">Abstract</div></li>
                    <li>
                        <div ng-click="gotoChpt2()">Design</div>
                        <ol>
                            <li><div ng-click="gotoChpt21()">Sketches</div></li>
                            <li><div ng-click="gotoChpt22()">Material</div></li>
                            <li><div ng-click="gotoChpt22()">Ejection Seat</div></li>
                        </ol>
                    </li>
                    <li>
                        <div ng-click="gotoChpt3()">Construction</div>
                        <ol>
                            <li><div ng-click="gotoChpt31()">Front Skid</div></li>
                            <li><div ng-click="gotoChpt32()">Wings</div></li>
                            <li><div ng-click="gotoChpt33()">Tail</div></li>
                            <li><div ng-click="gotoChpt34()">Ejection Seat</div></li>
                            <li><div ng-click="gotoChpt35()">Fuselage</div></li>
                            <li><div ng-click="gotoChpt36()">Main Skids</div></li>
                            <li><div ng-click="gotoChpt37()">Lights</div></li>
                            <li><div ng-click="gotoChpt38()">Parachute Latch</div></li>
                            <li><div ng-click="gotoChpt39()">Final Stages</div></li>
                        </ol>
                    </li>
                </ol>

            </td>
            <td style="vertical-align:top">
                <IMG style="display:block; width:95%; margin-left:5%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_25071a6e.jpg" NAME="Picture 1">
            </td>
        </tr>
    </table>


    <div style="margin-left:5%; margin-right:5%; font-family:'Times New Roman'; font-size:2vw">


        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:5vw">
            <a name="chpt1">1 Abstract</a>
        </P>

        <P ALIGN=JUSTIFY>
            This project took place while serving on duty during Operation Iraqi Freedom. The
            material used for construction was nothing more than the thin
            cardboard found on the back of our notepads, the lined paper from in it,
            superglue from the supply tent, paperclips, coffee straws,
            thumbtacks, cigarette cellophane, the hardware found in
            retractable pens. The electrical components were all scavanged from
            broken devices, such as microwaves, printers, etc. The one exception
            to local material was the 6 channel  R/C transmitter that a family
            member had specially shipped to me.
        </P>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:5vw">
            <a name="chpt2">2 Design</a>
        </P>

        <P><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt21">2.1 Sketches</a>
        </P>
        <P align="justify">
            The design began with detailed and scaled drawings done on graph paper. The airfoil chosen was a
            Clark 'Y' airfoil due to the high lift, slow stall speed, and overall
            simplicity requirements.  The width and length of the wings, (chord
            and wingspan), were designed to be short and stubby to allow for large error
            tolerances during construction and responsiveness of controls during
            flight, while maintaining appropriate surface area for the projected
            weight. The tail section was placed slightly closer to the center of
            gravity than normal, to allow for more responsive controls rather
            than overall stability during straight flight. The terrain that this
            craft would be landing on would normally be dirt and rock, so
            aluminum (soda cans) covered landing skids rather than wheels were
            chosen, and would be retractable due to the high drag they create.
            Lastly, because we had just captured a small mouse who had been
            caught attempting to steal from our food stash, it was decided that
            the mouse should 'pilot' this craft. Since no animals were harmed
            during this project, an ejection seat was designed in the case of
            catastrophic failure.
        </P>
        <table style="width:100%">
            <tr>
                <td>
                    <a href="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_d4acfab7.jpg">
                        <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_d4acfab7.jpg" NAME="Picture 12" BORDER=0>
                    </a>
                </td>
                <td>
                    <a href="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_44f18e84.jpg">
                        <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_44f18e84.jpg" NAME="Picture 11" BORDER=0>
                    </a>
                </td>
                <td>
                    <a href="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_6e9bf641.jpg">
                        <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_6e9bf641.jpg" NAME="Picture 13" BORDER=0>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_437448b4.jpg">
                        <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_437448b4.jpg" NAME="Picture 16" BORDER=0>
                    </a>
                </td>
                <td>
                    <a href="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_de1614cf.jpg">
                        <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_de1614cf.jpg" NAME="Picture 14" BORDER=0>
                    </a>
                </td>
                <td>
                    <a href="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_cae21691.jpg">
                        <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_cae21691.jpg" NAME="Picture 9" BORDER=0>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_d9b47988.jpg">
                        <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_d9b47988.jpg" NAME="Picture 17" BORDER=0>
                    </a>
                </td>
                <td>
                    <a href="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_b01ed214.jpg">
                        <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_b01ed214.jpg" NAME="graphics1" BORDER=0>
                    </a>
                </td>
                <td>
                    <a href="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_e54e577a.jpg">
                        <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_e54e577a.jpg" NAME="Picture 15" BORDER=0>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p align="center">
                        <i>The original sketches from Iraq that survived</i>
                    </p>
                </td>
            </tr>

        </table>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt22">2.2 Material</a>
        </P>

        <P align="justify">
            These are the basic components for construction. Bulkheads and ribs were carefully cut out from the
            cardboard backings of my notepad books, and were typically 3-4 layers
            thick each. The spars and stringers were made by carefully drawing
            lines exactly 1/4 inch apart, and folding the paper into tight
            squares while using stick glue to harden it into place.
        </P>

        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_5d574ef8.jpg" NAME="Picture 26">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_da682799.jpg" NAME="Picture 27">
                </td>
            </tr>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_50bb957a.jpg" NAME="Picture 28">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_4ff6a1bb.jpg" NAME="Picture 30">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <P align="justify">
                        <I>
                            Fun fact: During the construction
                            of this airplane, I built a side project to help out our late night
                            gate guards. The electronics shown in these two top pictures was
                            scavenged from a broken R/C car. The transmitter was combined with
                            parts from a nightlight to transmit when a vehicle's headlights
                            shined upon it, and the receiver portion was combined with a peizo
                            speaker to alert them when a vehicle was approaching.
                        </I>
                    </P>
                </td>
            </tr>
        </table>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt23">2.3 Ejection Seat</a>
        </P>

        <table style="width:100%">
            <tr>
                <td style="width:40%">
                    <p>
                        <FONT SIZE=3>
                            The overall flow of the ejection seat process.
                        </FONT>
                    </p>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_ba955358.jpg" NAME="Picture 31">
                </td>
                <td style="width:25%">
                    <P align="justify" STYLE="margin-left:5%; margin-right:5%">
                        Our pilot was held in place by a
                        custom suit that was tailored out of 550 chord and had a strip of
                        velcro sewn into the back. The parachute was found inside of a defused mortar
                        flare round.
                    </P>
                </td>
                <td style="width:25%">
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_a7752239.jpg" NAME="Picture 35"><br />
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_9fd461d3.jpg" NAME="Picture 34">
                </td>
            </tr>
        </table>

        <P><BR><BR></P>

        <P align="justify">
            The ejection seat sat on top of a
            platform that could be raised by pulling on a set of four strings.
            These strings were later attached to large rubber bands with a lock
            and release system to hold it under tension and explosively release.
            The inner parts of a pen were used as string guides to eliminate
            friction. The dual 9v batteries located in the nose were pulled
            forward during the ejection process to counter-balance the immediate
            loss of pilot weight.
        </P>

        <table style="width:80%; margin-left:10%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_b386a051.jpg" NAME="Picture 37">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_42434e5d.jpg" NAME="Picture 38">
                </td>
            </tr>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_3e7e0277.jpg" NAME="Picture 39">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_179269db.jpg" NAME="Picture 40">
                </td>
            </tr>
        </table>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:5vw">
            <a name="chpt3">3 Construction</a>
        </P>

        <P><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt31">3.1 Front Skid</a>
        </P>
        <P align="justify">
            The forward retractable landing
            skid was constructed from outer pen casings and thumbtacks. It was
            designed to lock in place when fully extended and the small cardboard
            peices were soaked in superglue for strength. The servo attachment
            point is located behind the blue power switch and cannot be seen. The
            actual skid itself will not appear until later pictures. The string
            shown is for the ejection platform from the last step, and notice the
            nose and tail sections have not been permanently glued together yet.
        </P>
        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_50cc2757.jpg" NAME="Picture 43">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_7e5c7a46.jpg" NAME="Picture 44">
                </td>
                <td>
                    <video style="width:100%"  poster="/app/Projects/IraqAirplane/video/Airplane.jpg" src="/app/Projects/IraqAirplane/video/FrontSkid.mp4" type="video/mp4" />
                </td>
            </tr>
        </table>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt32">3.2 Wings</a>
        </P>

        <P align="justify">
            The wings were constructed on a
            large and perfectly flat surface. The center of the wing is
            reinforced by extra cardboard to prevent them folding up during
            flight. Large ailerons are controlled by using coffee straws and
            paperclips as pushrods, which attach to a common servo. Bellcranks
            were built using superglue soaked cardboard to translate pushrods 90
            degrees to the ailerons.
        </P>
        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_c36724b6.jpg" NAME="Picture 45">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_e3b61b7f.jpg" NAME="Picture 47">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_cea734ae.jpg" NAME="Picture 50">
                </td>
            </tr>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_b2956772.jpg" NAME="Picture 52">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_7484eef2.jpg" NAME="Picture 48">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_df937e9b.jpg" NAME="Picture 49">
                </td>
            </tr>
        </table>

        <P><BR><BR><BR><BR></P>

        <P align="justify">
                The leading edge was added by
                rolling cardboard over the ribs. This actually made the wing
                structure incredibly strong, much stronger than expected.  Wingtip
                plates were also added to reduce the wing tip vortex produced by the
                large chord of these wings.
        </P>

        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_6ee5a068.jpg" NAME="Picture 65">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_2e7a0063.jpg" NAME="Picture 66">
                </td>
            </tr>
        </table>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt33">3.3 Tail</a>
        </P>

        <P align="justify">
            It may be noted that the color of
            the paper has changed to white. During construction, I was relocated
            to another station, which required me to dismantle most of the parts
            I had built. This new location had white notepads which I found much
            more aesthetically pleasing anyways. I reconstructed the tail section
            with this new paper. The elevator was built with a split surface
            design connected to a servo via coffee straws and paperclips, and the
            addition of LED navigation lights began. Cardboard was used to
            strengthen leading and trailing surfaces.
        </P>

        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_69274437.jpg" NAME="Picture 5">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_42f0df87.jpg" NAME="Picture 0">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_ff3e1574.jpg" NAME="Picture 1">
                </td>
            </tr>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_514d3768.jpg" NAME="Picture 2">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_b5cfdb6d.jpg" NAME="Picture 3">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_cac8f9.jpg" NAME="Picture 4">
                </td>
            </tr>
        </table>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt34">3.4 Seat</a>
        </P>

        <P align="left">
            And now the more complicated peices. Here is the latch that holds the canopy down.
        </P>

        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_a4e74f6f.jpg" NAME="graphics2">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_d4eadd68.jpg" NAME="Picture 8">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_2eedeacf.jpg" NAME="Picture 7">
                </td>
            </tr>
        </table>
        <P><BR><BR></P>
        <P STYLE="margin-bottom: 0.14in">
            <A HREF="http://www.alexvassallo.com/Projects/IraqAirplane/Video/CanopyRelease.avi">
                http://www.alexvassallo.com/Projects/IraqAirplane/Video/CanopyRelease.avi
            </A>
        </P>

        <P><BR><BR></P>


        <P align="left">
            Here is the ejection seat being built with a breakaway parachute box, a timer, and a PWM servo controller.
        </P>
        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_c77d3c31.jpg" NAME="graphics3">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_228ed840.jpg" NAME="graphics4">
                </td>
            </tr>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_b87f7d45.jpg" NAME="graphics5">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_3b622d7d.jpg" NAME="graphics6">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <I>Large circuit was later reduced in size to fit pilot and a small battery fit into the corner</I>
                </td>
            </tr>
        </table>

        <P><BR><BR></P>


        <P align="justify">
            Here are the latches that held back
            the huge tension that ejected the seat. The latches were release by
            activating a motor connected to a gear box, (salvaged
            from a R/C car), which pulled a common release string for both sides. These parts
            were the most difficult to build. The release strings had routing tubes
            glued into an exact alignment, which rested in this catch.
        </P>

        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_b998f91b.jpg" NAME="graphics7">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_8ca78ca8.jpg" NAME="Picture 18">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_d2a07f7d.jpg" NAME="Picture 29">
                </td>
            </tr>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_81aecd08.jpg" NAME="graphics8">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_b5796bca.jpg" NAME="Picture 32">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_2b52336.jpg" NAME="graphics9">
                </td>
            </tr>
        </table>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt35">3.5 Fuselage</a>
        </P>

        <P align="justify">
            Servo bay, receiver, motor, motor
            controller, and forward landing skid. The propeller shown is only for
            testing. The motor which pulls the ejection seat release will be
            mounted into the open bay shown in the bottom right picture.
        </P>

        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_13128cf6.jpg" NAME="graphics10">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_5d027ef7.jpg" NAME="Picture 46">
                </td>
            </tr>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_c8b4b339.jpg" NAME="graphics11">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_4e6f2a0e.jpg" NAME="graphics12">
                </td>
            </tr>

        </table>

        <P><BR><BR></P>

        <P align="left">
            Folding propeller blades. Superglue hardened cardboard with plastic tube hinge points.
        </P>
        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_d984694b.jpg" NAME="Picture 63">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_542e6f1d.jpg" NAME="Picture 64">
                </td>
            </tr>
        </table>

        <P><BR><BR></P>

        <P align="justify">
                This onboard circuit served many
                purposes. It held 5v regulators needed to reduce the voltage of the
                9v batteries. It contained a 556 chip (dual 555) which controlled a
                blinking strobe light, and triggered the 1st phase of the ejection
                process. The 4 volt drop across the 5v regulator (7805) produced
                enough heat to require a cooling fan.
        </P>

        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_59ac0ad1.jpg" NAME="Picture 70">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_36bb23e9.jpg" NAME="Picture 69">
                </td>
            </tr>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_5678d0e6.jpg" NAME="Picture 67">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_8441629c.jpg" NAME="Picture 68">
                </td>
            </tr>
        </table>




        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt36">3.6 Main Skids</a>
        </P>


        <P align="left">
            Rear retractable landing skids. Like the front landing skid, these also lock into place when fully extended.
        </P>

        <table style="width:100%>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_245a79bd.jpg" NAME="Picture 56">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_d0ab97ac.jpg" NAME="graphics13">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_4201f52d.jpg" NAME="Picture 57">
                </td>
            </tr>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_5089af3c.jpg" NAME="Picture 58">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_fd50e6fc.jpg" NAME="Picture 59">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_494fc2bc.jpg" NAME="Picture 62">
                </td>
            </tr>
        </table>

        <P align="center">
            <A HREF="http://www.alexvassallo.com/Projects/IraqAirplane/Video/MainSkids.avi">
                http://www.alexvassallo.com/Projects/IraqAirplane/Video/MainSkids.avi
            </A>
        </P>


        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt37">3.7 Lights</a>
        </P>


        <P align="justify">
                The navigation lights followed the
                standard convention for aircraft. Green on the right, red on the
                left, red on the tail, a white strobe on the belly, and two super
                bright landing lights located inside of the forward skid compartment,
                which only turned on when the landing skids were fully extended..
        </P>

        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_d4791a04.jpg" NAME="Picture 71">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_6f0cbbec.jpg" NAME="Picture 72">
                </td>
            </tr>

        </table>

        <P align="center">
            <A HREF="http://www.alexvassallo.com/Projects/IraqAirplane/Video/Lights.avi">
                http://www.alexvassallo.com/Projects/IraqAirplane/Video/Lights.avi
            </A>
        </P>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt38">3.8 Parachute Latch</a>
        </P>


        <P align="justify">
                This latch was designed to hold down
                a large spring-loaded parachute box which was to be deployed in the
                event of radio failure. Military bases commonly used radio jammers to
                prevent missile and IED attacks. These jammers could completely
                disrupt radio communication with the airplane. This latch was
                designed as a multi-stage locking latch which could hold back a huge
                amount of tension, but be easily released by the small force applied
                by a microservo.
        </P>

        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_e8b6eecc.jpg" NAME="Picture 74">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_3f2879ec.jpg" NAME="Picture 75">
                </td>
            </tr>

        </table>

        <P STYLE="margin-bottom: 0.14in">
            <A HREF="http://www.alexvassallo.com/Projects/IraqAirplane/Video/ParachuteRelease.avi">
                http://www.alexvassallo.com/Projects/IraqAirplane/Video/ParachuteRelease.avi
            </A>
        </P>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt39">3.9 Final Stages</a>
        </P>

        <P align="justify">
                All the peices coming together. The
                wings connected to the fuselage via two large platic bolts, and a set
                of male and female connectors which perfectly aligned with each
                other. Two square blocks on the wing mated with two square holes on
                top of the fuselage to allow for easy installation.
        </P>

        <table style="width:100%">
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_8209b303.jpg" NAME="Picture 78">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_ab7c932e.jpg" NAME="Picture 79">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_8a7d0268.jpg" NAME="Picture 80">
                </td>
            </tr>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_f494c67e.jpg" NAME="Picture 81">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_17de265a.jpg" NAME="Picture 83">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_40221e2.jpg" NAME="Picture 82">
                </td>
            </tr>
        </table>

        <P STYLE="margin-bottom: 0.14in"><A HREF="http://www.alexvassallo.com/Projects/IraqAirplane/Video/Walkthrough.avi">http://www.alexvassallo.com/Projects/IraqAirplane/Video/Walkthrough.avi</A></P>
        <P STYLE="margin-bottom: 0.14in"><A HREF="http://www.alexvassallo.com/Projects/IraqAirplane/Video/RadioTest.avi">http://www.alexvassallo.com/Projects/IraqAirplane/Video/RadioTest.avi</A></P>

        <P><BR><BR></P>

        <P align="justify">
                The majority of the aircraft was
                now covered with normal white printer paper from the supply tent.
                The batteries for the motor were built into a disposable pod which
                sat streamlined on the belly, and made contact with two large metal
                connectors.  Due to weight, this battery pack was designed to be
                jettison before landing. The canopy openings were covered by
                cellophane from a pack of cigarettes. The landing skids were covered
                with aluminum from a soda can. A curved nose cone was carefully built
                by soaking cardboard in water and allowing it to dry around a mold,
                then applying superglue to harden it into form.  All systems appeared
                to be working as expected.


                Then we received notice that our tour in Iraq was complete. The aircraft was carefully packed up
                in a custom made box, tightly secured, and then mistaken as a
                malicious package and mostly destroyed. Here are the pictures of its
                final condition.
        </P>

        <table style="width:100%">
            <tr>
                <td style="width:50%">
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_5ec130f0.jpg" NAME="Picture 85">
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_4fcf12ec.jpg" NAME="Picture 86">
                </td>
            </tr>
            <tr>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/IraqAirplane/img/i_50b3ccd0f5e6adab_html_be758aac.jpg" NAME="Picture 87">
                </td>
            </tr>
        </table>

    </div>
</div>




