<div ng-include="'Projects/nav.html'"></div>

<div ng-controller="ViewCtrl_obd2">
    <table id="robot-header" style="width:90%; margin-left:5%; font-family:'Times New Roman'">
        <tr>
            <td colspan="2">
                <p align="center" style="font-size:5vw">
                    Vehicle On Board Diagnostic Emulator
                </p>
            </td>
        </tr>
        <tr>
            <td style="width:25%">
                <p align="center" style="background-color:lightblue; margin-bottom:0px; border: 1px solid #00000a; font-size:2vw">
                    Table of Contents
                </p>
            </td>
            <td>
                <P ALIGN=RIGHT STYLE="margin-bottom:0px; font-size:2vw">
                    Alex Vassallo - July 2014
                </P>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top">

                <ol style="background-color:lightblue; border: 1px solid #00000a; padding: 0in 12%; font-size:2vw">

                    <li><div ng-click="gotoChpt1()">Abstract</div></li>
                    <li>
                        <div ng-click="gotoChpt2()">Hardware</div>
                        <ol>
                            <li><div ng-click="gotoChpt21()">System Schematic</div></li>
                            <li><div ng-click="gotoChpt22()">Hardware Design</div></li>
                        </ol>
                    </li>
                    <li>
                        <div ng-click="gotoChpt3()">Software</div>
                        <ol>
                            <li><div ng-click="gotoChpt31()">Handshake</div></li>
                            <li><div ng-click="gotoChpt32()">Data Transfer</div></li>
                            <li><div ng-click="gotoChpt33()">Data Format</div></li>
                            <li><div ng-click="gotoChpt34()">Software Outline</div></li>
                        </ol>
                    </li>
                </ol>

            </td>
            <td style="vertical-align:top">
                <IMG style="display:block; width:95%; margin-left:5%" SRC="Projects/obd2/img/i_ac965724d2fb0386_html_72544c2.jpg" NAME="Picture 1">
            </td>
        </tr>
    </table>


    <div style="margin-left:5%; margin-right:5%; font-family:'Times New Roman'; font-size:2vw">


        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:5vw">
            <a name="chpt1">1 Abstract</a>
        </P>

        <P ALIGN=JUSTIFY>
                This project was designed to allow a non-OBD2 vehicle to communicate with
                OBD2 diagnostic equipment using the standard OBD2 connection. The
                On-Board Diagnostics II (OBD2) vehicle standard specifies the
                connector, electrical signalling protocol, and the message format.
                For this application, the signalling protocol implemented was the ISO
                9141-2, which uses a single K line to both transmit and receive data.
                Using this protocol, PID requests are sent by a tester unit, and the
                vehicle responds with the requested information.  I used the MC33290
                &quot;ISO k Line serial link interface&quot; chip to manage the
                half-duplex communications, and an Arduino Uno as the microcontroller
                to manage the data requests. These components were designed to mount
                together underneath a vehicles dashboard, and connect to an OBD2 port
                using a 4 pin connector.  OBD2 testing devices which connect to that
                port receive vehicle information as if they were communicating with
                an actual vehicle's OBD2 system.
        </P>
        
        <P><BR><BR><BR><BR></P>
        

        <P STYLE="font-size:5vw">
            <a name="chpt2">2 Hardware</a>
        </P>

        <P><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt21">2.1 System Schematic</a>
        </P>
        

        <P ALIGN=CENTER STYLE="margin-bottom: 0in">
            <IMG style="width:90%; margin-left:5%" SRC="Projects/obd2/img/i_ac965724d2fb0386_html_917d7b1a.png" NAME="Picture 0"><BR>
            <FONT FACE="Times New Roman, serif">
                Figure 1: Schematic
            </FONT>
        </P>
        
        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt22">2.2 Hardware Design</a>
        </P>

        <P ALIGN=JUSTIFY>
            The hardware was designed to be packaged together into a single unit that can
            be installed behind the dashboard. The MC33290 is a serial link bus
            interface device designed to provide level shifting and bi-directional half-duplex
            communication, specifically made for the ISO9141 protocol. This unit can receive
            power directly from the vehicle battery since the input voltage limit
            for the Arduino Uno is 20V, and the MC33290 limit is 18V. To monitor the
            input voltage, a voltage divider scales down the voltage by 3 and
            feeds an input pin on the Arduino.  Then there is a four pin harness, (not
            shown), that routes each necessary connection to the appropriate pin
            on the back of the standard male OBD2 connector.
        </P>
        
        <table style="width:100%">
            <tr>
                <td style="width:50%">
                    <IMG style="display:block; width:100%" SRC="Projects/obd2/img/i_ac965724d2fb0386_html_a68648d8.jpg" NAME="Picture 2">
                    <p align="center">
                        <i>Arduino Uno and Vehicle Interface</i>
                    </p>
                </td>
                <td>
                    <IMG style="display:block; width:100%" SRC="Projects/obd2/img/i_ac965724d2fb0386_html_2043ebb8.jpg" NAME="Picture 3">
                    <p align="center">
                        <i>Complete Assembly</i>
                    </p>
                </td>
            </tr>
            
        </table>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:5vw">
            <a name="chpt3">3 Software</a>
        </P>

        <P><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt31">3.1 Handshake</a>
        </P>

        <P ALIGN=JUSTIFY>
            To begin communications, a handshake procedure must first be completed.
            The tester unit initiates a request by sending 0x33 (00110011) at a
            bit rate of 5 baud.  When this is received by the vehicle, the
            vehicle waits for a time W1, switches to 10.4k baud,  and responds
            with 0x55 (01010101) followed by two keywords, (typically 0x8 0x8),
            which describe the communication format. The tester unit then
            confirms those keywords by responding with the inverted value of the
            second keyword, followed by the vehicle sending the inverted value of
            the original address, 0xCC (11001100), to confirm the handshake is
            complete. PID 01 requests by the tester are then used as &quot;keep
            alive&quot; packets to avoid having to repeat this handshake.
        </P>
        
        <IMG style="display:block; width:100%" SRC="Projects/obd2/img/i_ac965724d2fb0386_html_c547e188.png" NAME="Picture 6">
        <p align="center">
            <i>Figure 2: Handshake</i>
        </p>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt32">3.2 Data Transfer</a>
        </P>

        <P ALIGN=JUSTIFY>
            To transfer data, a tester sends a multi-byte request on the K line, and
            an ECU responds with a multi-byte reply containing the requested
            information. As shown in Figure 3, the timing marks are defined by
            the protocol, and imperative to follow since there is no other form
            of synchronization. Time P1 and P4 define the delay between bytes, P2
            defines the time between packets, and P3 is the request timeout
            period. As Figure 3 indicates, it is possible for multiple ECU's to
            each transfer data in turn.

        </P>

        <IMG style="display:block; width:100%" SRC="Projects/obd2/img/i_ac965724d2fb0386_html_4a76de56.jpg" NAME="Picture 8">
        <p align="center">
            <i>Figure 3: Data Transfer</i>
        </P>

        <P><BR><BR><BR><BR></P>

        <P STYLE="font-size:3vw">
            <a name="chpt33">3.3 Data Format</a>
        </P>

        <TABLE style="width:100%">
            <TR>
                <td style="width:65%; vertical-align:top">
                    <P align="justify" STYLE="margin-right: 5%">
                        The data format of each packet is defined by
                        the OBD2 specifications. Table 1 shows the definition of each byte by
                        position. The first two bytes defines whether it is a request or
                        response. The next byte is the source address of the equipment
                        sending the message. The next byte defines which mode the ECU should
                        be in when processing requests. Table 2 shows the various modes of
                        operation. The next byte contains the PID, or Parameter ID, that
                        specifies the exact data being requested. The bytes after the PID is
                        the data section for responses, which must be between 1 and 8 bytes
                        long. Large items such as VIN numbers are broken up into multi-packet
                        messages, and the first byte of the data section contains the packet
                        number. When responding to a request, the CRC checksum is always the
                        last byte. It is simply a summation of the data area truncated to 8
                        bits.
                    </P>
                </td>
                <td>
                    <TABLE style="width:100%; border: 1px solid #00000a; padding: 0in 0.08in; font-size:2vw">
                        <TR VALIGN="TOP">
                            <TD colspan="2" style="background-color:lightblue">
                                <P ALIGN=CENTER>
                                        Byte Definitions
                                </P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="width:35%; border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>Byte[0]</P>
                            </TD>
                            <TD STYLE="width:65%; border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>0x68 for request<br /> 0x48 for response</P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>Byte[1]</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>0x6A for request<br /> 0x6B for response</P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>Byte[2]</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>Source addr of sender</P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>Byte[3]</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>Mode</P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>Byte[4]</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>PID</P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>Byte[5-12]</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P STYLE="page-break-after: avoid">Data</P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P>Byte[last]</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P STYLE="page-break-after: avoid">CRC checksum<br />(sum of data)</P>
                            </TD>
                        </TR>
                    </TABLE>
                    <P ALIGN=CENTER style="color:#4f81bd">
                        <i>Table 1</i>
                    </P>
                </td>
            </TR>
        </table>

        <P><BR><BR><BR><BR></P>

        <table style="width:100%">
            <tr VALIGN="TOP">
                <td style="width:65%">
                    <P align="justify" style="margin-right:5%">
                        Each mode of operation listed in Table 2 follows a specific format. Mode
                        3, (Show DTCs), requires 2 bytes of encoded data to define a DTC, and
                        requires sending multiple packets for 3 or more DTCs.  Mode 9 is used
                        to verify the vehicle's identity and all responses require a
                        multi-packet message. This includes information such as VIN numbers,
                        serial numbers, or &quot;tamper-proof&quot; checksums.  Modes 4
                        through 8 are not required for normal diagnostics, and are not used
                        in this project.
                    </P>
                </td>
                <td>
                    <TABLE style="width:100%; border: 1px solid #00000a; padding: 0in 0.08in">

                        <TR VALIGN="TOP">
                            <TD colspan="2" style="background-color:lightblue">
                                <P ALIGN=CENTER>
                                    Mode Definitions
                                </P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="width:15%; border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="center">1</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="left">Show current data</P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="center">2</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="left">Show Freeze frame data</P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="center">3</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="left">Show stored DTC's</P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="center">4</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="left">
                                    Clear stored DTC's
                                </P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="center">5</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="left">
                                    System Monitor(non-CAN)
                                </P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="center">6</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="left">
                                    System Monitor(CAN)
                                </P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="center">7</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="left">
                                    Show pending DTC's
                                </P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="center">8</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="left">
                                    Control Onboard Systems
                                </P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="center">9</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="left">
                                    Request vehicle information
                                </P>
                            </TD>
                        </TR>
                        <TR VALIGN=TOP>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="center">10</P>
                            </TD>
                            <TD STYLE="border: 1px solid #00000a; padding: 0in 0.08in">
                                <P align="left">
                                    Show Permanent DTC's
                                </P>
                            </TD>
                        </TR>
                    </TABLE>
                    <P ALIGN=CENTER STYLE="border: none; padding: 0in; color:#4f81bd">
                        <i>Table 2</i>
                    </P>
                </td>
            </tr>
        </TABLE>

        <P><BR><BR><BR><BR></P>

        <P ALIGN=JUSTIFY>
            Most of the normal PID requests are done using Mode 1, (Show Current
            Data), and require a specifically formatted data response.  PIDs that
            request a sensor value each require a unique mathematical formula to
            scale and translate the values to be stored inside of 8 or 16 bits.
            PIDs that request status information will use an encoding map as
            shown in Figure 4, where bits A7 through D0 are uniquely defined for
            each specific PID.  The data format for Mode 2 is identical, except
            the data being sent was all captured when first entering Mode 2.
        </P>
        
        <IMG style="display:block; width:100%" SRC="Projects/obd2/img/i_ac965724d2fb0386_html_a9415485.jpg" NAME="graphics1">        
        <P ALIGN=CENTER>
            <i>Figure 4: Bit Encoding</i>
        </P>

        <P><BR><BR><BR><BR></P>

        <p style="font-size:3vw">
            <a name="chpt34">3.4 Software Outline</a>
        </p>
        

        <TABLE style="width:100%; font-size:2vw">
            <tr>
                <td style="width:50%">
                    <UL>
                        <li>
                            <B>Main Loop()</B>
                            <UL>
                                <LI>Synchronize data stream</LI>
                                <LI>Transmit any queued data, or</LI>
                                <LI>Perform handshake, or</LI>
                                <LI>Listen to Rx signal</LI>
                                <LI>process OBD2 requests</LI>
                            </UL>
                        </li>
                    </UL>
                </td>
                <TD style="border: 1px solid #00000a; padding: 0in 0.08in">
                    <P STYLE="margin-left: 5%; margin-top:5%; margin-bottom:0px">edgeTime += bitTime</P>
                    <P STYLE="margin-left: 5%; margin-bottom:0px">if (txDataCount &gt; 0) {</P>
                    <P STYLE="margin-left: 10%; margin-bottom:0px">    transmitProc()</P>
                    <P STYLE="margin-left: 5%; margin-bottom:0px">} else if (handshake &gt; 0) {</P>
                    <P STYLE="margin-left: 10%; margin-bottom:0px">    handshakeProc()</P>
                    <P STYLE="margin-left: 5%; margin-bottom:0px">} else {</P>
                    <P STYLE="margin-left: 10%; margin-bottom:0px">    receiveProc()</P>
                    <P STYLE="margin-left: 10%; margin-bottom:0px">    if(data received and time W4 elapsed) {
                    <P STYLE="margin-left: 10%; margin-bottom:5%">    processData()}}</P>
                </TD>
            </TR>
            <tr>
                <td><br /></td>
                <td>
                    <p align="center">
                        <i>Figure 5: Main Loop Pseudo-Code</i>
                    </p>
                </td>
            </tr>
        </TABLE>

        <ul>
            <li>
                <B>handshakeProc()</B>
                <ul>
                    <li>
                        <I>switch </I>(handshake)
                        <ul>
                            <li>
                                <I>case 1:</I> 
                                0x33 @ 5 baud detected<br /> 
                                wait time W1<br /> 
                                switch to 10.4k baud<br /> 
                                transmit 0x55
                            </li>
                            <li>
                                <I>case 2:</I> 
                                wait time W2 then transmit 0x8 0x8<br />
                                prepare to measure time W4
                            </li>
                            <li>
                                <I>case 3:</I> 
                                call receiveProc() with handshake routines enabled<br />
                                measures time W4
                            </li>
                            <li>
                                <I>case 4:</I>  
                                wait time W4<br />
                                transmit 0x33 inverted (0xCC) as &quot;ready to communicate&quot;
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <B>receiveProc()</B>
                <ul>
                    <li>Make sure it is time to sample a bit</li>
                    <li>Sample the current bit</li>
                    <li>check for 10 consecutive high bits (idle period) to enter idle state</li>
                    <li>check for 10 consecutive low bits (handshake request) to prepare for handshake</li>
                    <li>check for valid start bit and begin collecting data:
                        <ul>
                            <li>Align and insert bits into byte packet</li>
                            <li>store byte into local data structure</li>
                            <li>check for handshake conditions (handshake=3 or 0x33 @ 5 baud)</li>
                            <li>reset for next byte</li>

                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <B>transmitProc()</B>
                <ul>
                    <li>Make sure it is time to send next bit</li>
                    <li>transmit start bit</li>
                    <li>transmit 8 bits of data</li>
                    <li>transmit stop bit</li>
                    <li>wait time W3</li>
                    <li>repeat for each byte</li>
                </ul>
            </li>
            <li>
                <B>processData()</B>
                <ul>
                    <li>Verify valid request package was received</li>
                    <li>Use Mode and PID values to build proper response packets</li>
                    <li>Read sensor values on Arduino analog input pins, or...</li>
                    <li>Measure battery voltage on pin A0, engine running if greater than 12.5V</li>
                    <li>if engine running, use random numbers to create &quot;dynamic&quot; data (rpm, etc)</li>
                    <li>compute and append OBD2 CRC checksum byte</li>
                    <li>send completed packet to transmit buffer</li>
                </ul>
                
            </li>
            <li>
                <B>Interrupt Routine for Rx pin:</B>
                <ul>
                    <li>synchronize data stream (edgeTime = {Time Now})</li>
                </ul>
            </li>
        </UL>
    </div>
</div>